// LEGEND
// cs = cheat sheet

// Colors
$cs-white: #fdfffc;
$cs-black: #0d0221;
$cs-primary-color: #023047;
$cs-secondary-color: #ffb703;
// Color shades
$cs-primary-color-lighter: mix(white, $cs-primary-color, 50%);
$cs-secondary-color-lighter: mix(white, $cs-secondary-color, 50%);

// App theme colors
$cs-app-light: $cs-white;
$cs-app-light-codeblock: mix(black, $cs-white, 20%);
$cs-font-light: $cs-black;
$cs-app-dark: $cs-black;
$cs-app-dark-codeblock: mix(white, $cs-black, 20%);
$cs-font-dark: $cs-white;

$cs-app-dark: $cs-black;
$cs-font-dark: $cs-white;

// Link colors
$cs-link: $cs-secondary-color;
$cs-link-visited: $cs-secondary-color-lighter;
