// Global
$app-padding: 8px;
$app-border-radius: 3px;
$app-border-width: 1px;

// Colors
$white: #fdfffc;
$black: #0d0221;
$primary-color: red;
$primary-color-lighter: mix(white, $primary-color, 50%);
$primary-color-darker: mix(black, $primary-color, 20%);
$secondary-color: darkGreen;
$secondary-color-lighter: mix(white, $secondary-color, 50%);
$secondary-color-darker: mix(black, $secondary-color, 20%);

// Navigation drawer
$navigation-drawer-inner-width-inactive: 56px;
$navigation-drawer-inner-padding: $app-padding;
$navigation-drawer-inner-border-width: 2px;
$navigation-drawer-inner-background-color: $primary-color;

$navigation-drawer-background-color: #22222280;
$navigation-drawer-padding: $app-padding;
$navigation-drawer-border-width: 2px;
$navigation-drawer-width-inactive: $navigation-drawer-inner-width-inactive + $navigation-drawer-inner-border-width +
    $navigation-drawer-inner-padding * 2;

// Buttons
$button-border: 1px;
$button-border-radius: 1.5rem;
$button-background-color: $primary-color;
$button-border-color: $primary-color-darker;
