@import "colors.scss";
// LEGEND
// cs = cheat sheet
// rmf = rendered markdown file
// nd = navigation drawer

// Global
$cs-padding: 8px;
$cs-border-radius: 3px;
$cs-border-width: 1px;

// Rendered markdown file
$cs-rmf-max-width: 900px;
$cs-rmf-padding: $cs-padding $cs-padding $cs-padding * 3 $cs-padding;

// Navigation drawer
$cs-nd-height: 56px;
$cs-nd-inner-background-color: $cs-primary-color;
// $cs-nd-tools-height: 46px;
$cs-nd-legals-padding-top: 5px;
$cs-nd-legals-height: 32px;
$cs-nd-subtrahend: $cs-nd-height + (2 * $cs-padding) + $cs-nd-legals-height + $cs-nd-legals-padding-top; // + $cs-nd-tools-height;

// Overlay
$cs-nd-overlay-background: #22222280;
