@import "variables";
@import "markdown-styles.scss";
// Fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

// General
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
}

#app {
    min-height: 100vh;
}

.light {
    background-color: $cs-app-light;
    color: $cs-font-light;
}

.dark {
    background-color: $cs-app-dark;
    color: $cs-font-dark;
}

// Helpers
.flex {
    display: flex;

    &.column {
        flex-direction: column;
    }
}
.flex-filler {
    flex: 1;
}

.pointer {
    cursor: pointer;
}

hr.divider {
    height: 1px;
    background-color: $cs-primary-color;
}

.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
