// Markdown files
#rendered-markdown-file {
    #site-title {
        margin: 1.3rem 0 1.3rem 0;

        &:after {
            content: "";
            display: block;
            height: $cs-border-width;
        }
    }

    // Fragmented headlines
    a.fragment-link {
        color: inherit;
        display: flex;
        align-items: center;
        text-decoration: none;

        .headline {
            margin: 0 0 1rem 0;
            & + .flex-filler + span {
                color: $cs-link;
                opacity: 0;
                margin: 0 0 -10px 0.5rem;
                transition: opacity 0.2s ease-in-out;
                transition: color 0.1s ease-in-out;
            }
        }

        .sub-headline {
            margin: 0 0 0.5rem 0;
            & + .flex-filler + span {
                color: $cs-link;
                opacity: 0;
                margin: 0 0 -6px 0.5rem;
                transition: opacity 0.2s ease-in-out;
                transition: color 0.1s ease-in-out;
            }
        }

        &:hover .flex-filler + span {
            opacity: 1;
        }

        &:visited .flex-filler + span {
            color: $cs-link-visited;
        }
    }

    .paragraph {
        margin: 0 0 0.3rem 0;
    }

    .list {
        margin: 0 0 0.3rem 0;
    }

    .code-block {
        width: 100%;
        border-radius: $cs-border-radius;
        padding: $cs-padding;
        margin: 0 0 0.3rem 0;

        position: relative;
        overflow-x: auto;

        .clipboard {
            display: none;
            position: absolute;
            top: 4px;
            right: 4px;
            cursor: pointer;
        }

        &:hover {
            .clipboard {
                display: block;
            }
        }

        code {
            font-size: 12px;
            font-family: "Roboto Mono", monospace;

            .hljs-comment {
                color: green;
            }
        }
    }

    .inline-code {
        color: orange;
        font-size: 12px;
        font-weight: 600;
        font-family: "Roboto Mono", monospace;
    }
}

// Links
a:not(.fragment-link) {
    color: $cs-link;
    &:visited {
        color: $cs-link-visited;
    }
}

.light {
    #rendered-markdown-file {
        #site-title {
            &:after {
                background-color: $cs-font-light;
            }
        }
        .code-block {
            background-color: $cs-app-light-codeblock;
            color: $cs-font-light;
        }
    }
}

.dark {
    #rendered-markdown-file {
        #site-title {
            &:after {
                background-color: $cs-font-dark;
            }
        }
        .code-block {
            background-color: $cs-app-dark-codeblock;
            color: $cs-font-dark;
        }
    }
}
